/* General Styling */
body {
    font-family: 'Times New Roman', serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

html {
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background: black;
    color: #bf9e32;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: -10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

/* Fixed Header after scroll */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    transform: translateY(0);
}

header:not(.fixed-header) {
    transform: translateY(0);
}

/* Logo Image Styling */
.header-img {
    width: 100px;
    height: auto;
    display: block;
}

/* Header Photo Styling */
.header-photo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: black;
    margin-top: 0;
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
}

.menu-toggle .bar {
    background-color: #bf9e32;
    height: 4px;
    width: 25px;
    margin: 3px 0;
    border-radius: 3px;
}

/* Responsive Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #bf9e32;
}

#nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 16px; /* Adjust font size here */
    font-weight: bold; /* Make text bold */
}


#nav-menu.active {
    display: block;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    #nav-menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    #nav-menu.active {
        display: flex;
    }
}


nav a:hover {
    color: white;
    transform: scale(1.1);
}

/* Logo Link Styling */
.logo-link {
    position: absolute;
    left: 0;
    top: 20%;
    display: inline-block;
    z-index: 100;
}

.logo-link:hover {
    transform: scale(1.1);
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px; /* Adjust font size here */
    font-weight: bold; /* Make text bold */
}

.dropdown .dropbtn {
    color: #bf9e32;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    background-color: black;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.dropdown .dropbtn:hover {
    color: white;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(37, 37, 37, 0.892);
    min-width: 160px;
    z-index: 1;
    left: 30px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: visibility 0s 0.3s, opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content a {
    color: #bf9e32;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 1.1em;
}

.dropdown-content a:hover {
    color: white;
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}

/* Main Content Styling */
main {
    padding: 30px;
    text-align: center;
}

main h2, main h3, main p {
    color: black;
}

main h2 {
    font-size: 2em;
}

main p {
    font-size: 1.2em;
    margin: 10px 0;
    margin-right: 50px;
}

main h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.contact-main {
    text-align: left; /* To align text items inside correctly */
    position: absolute; /* Make it relative to the page layout */
    margin-top: 5%;
    right: 0; /* Push to the far right */
    margin-right: 15%; /* Optional: Adjust margin if necessary */
    width: 25%; /* Adjust width based on your design */
}

.contact-main h2{
    color: #bf9e32;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Spacing between items */
}
 
.logo-img {
    width: 40px; /* Adjust image size */
    height: auto;
    margin-right: 10px;
}

/* Contact Item Image Styling */
.text-overlay .contact-item img {
    width: 80px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}


.contact-item p {
    margin: 0;
    font-size: 1.1rem; /* Text size */
}

.contact-item a {
    text-decoration: none;
    color: #333;
}

/* Hover effect for links */
.contact-item a:hover {
    color: #bf9e32;
    transform: scale(1.1); /* Makes the text a bit bigger */
    text-decoration: underline; /* Adds an underline */
}

.contact-item a:hover {
    color: #bf9e32;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .contact-item {
        flex-direction: column;
        align-items: flex-start;
        text-align: right;
    }

    .contact-item img {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .contact-main {
        /* Right-align only for larger screens */
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
    }
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.content-wrapper h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.text-content {
    flex: 1;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content h3 {
    flex: 1;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22%;
    margin-bottom: 0;
}

.text-content p {
    font-size: 1.1em;
}

.text-content p:first-child {
    margin-top: 0;
}

.text-content p:last-child {
    margin-bottom: 150px;
}

/* Footer Styling */
footer {
    background: black;
    color: #bf9e32;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    border-top: 2px solid #bf9e32;
    margin-top: 0;
}

.shop-here {
    font-weight: bold;
    color: #41e661;
    margin-right: 10px;
    font-size: 1.2em;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

footer .linktree-logo {
    width: 100px;
    height: auto;
    vertical-align: middle;
}

/* Photo box styling */
.photo-box, .photo-box2 {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

/* Styling the video element */
.photo-box video, .photo-box2 video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Additional Styling */
.animated-text {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #aa8c2c;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(35, end) infinite, blink-cursor 0.75s step-end infinite;
    max-width: 35ch;
    margin-top: 50px;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 35ch; }
}

@keyframes blink-cursor {
    50% { border-color: transparent; }
    100% { border-color: #aa8c2c; }
}

/* Animations for Main Text */
@keyframes fadeInText {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Apply animation to text content */
.text-content p, .fade-in-special {
    animation: fadeInText 1.5s ease-in-out forwards;
    animation-delay: 0.5s; /* Slight delay for smoother effect */
}

/* Swiper Slider Styling */
.swiper-container {
    position: relative;
}

.swiper-wrapper img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.swiper-button-prev, .swiper-button-next {
    color: #bf9e32 !important;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.fade-in-special {
    font-weight: bold;
}

.photo-description {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    font-style: italic;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.space {
    height: 200px;
}

.space2 {
    height: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item {
    text-align: center;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.product-item:hover {
    background-color: #bf9e32;
    color: white;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(255, 255, 255, 0); /* Slight background to improve readability */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Ensures text and logos fit nicely */
    width: 90%; /* Responsive width */
}

.text-overlay h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #bf9e32;

}


.full-width-images {
    position: relative;
    padding: 0; /* Remove any padding */
    margin: -30px;

}

/* Full-width image itself */
.full-width-images img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}



/* Styling for the Linktree logo */
.linktree-logo {
    width: 60px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align it with the text */
    margin-left: 10px; /* Add spacing between the text and the logo */
    transition: transform 0.3s ease; /* Add hover effect for smooth scaling */
}

.linktree-logo:hover {
    transform: scale(1.1); /* Slight zoom-in effect on hover */
}

/* Adjust the space between paragraphs */
.space {
    height: 200px; /* Adjust the height as needed */
}

.space2 {
    height: 30px; /* Adjust the height as needed */
}
